html {
	font-size: var(--font-size-medium);
	background-color: #dedbd2;
}

.sticky-element {
	position: sticky;
	top: 0;
	;
}

.scroll {
	overflow: auto;
}

section{
	margin-bottom: var(--font-leading-medium);
}

.section-title {
	margin-bottom: var(--font-leading-medium);
	background-color: red;
}

.section-content-text {
	margin-bottom: var(--font-leading-small);
}

.widget {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.container-for-nav {
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing-small);
	border: 2px solid black;

}

.navigation-bar {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar {
	background-color: beige;
	height: 100%;
}

.filter-button {
	font-size: var(--font-size-base);
	margin-bottom: var(--font-leading-base);
}


.read-more-button {
	cursor: pointer;
}

.text__content {
	display: none;
	padding: 30px;
}
.text--expanded .text__content {
	display: block;
}





@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}


}