html {
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--color-primary);
	padding: 30px;
}

.container-for-nav {
	display: flex;
	justify-content: space-between;
	padding: var(--font-leading-base);
	margin-bottom: var(--font-leading-base);

}

.navigation-bar {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

aside {
	position: fixed;
	display: flex;
	flex-direction: column;
}

.filter-button {
	background-color: var(--color-tetriary);
	font-size: var(--font-size-small);
	margin-bottom: var(--font-leading-small);
	cursor: pointer;
}

.page-section {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--font-leading-medium);

}

image-container {
	max-width: 50%;
}

.section-title {
	text-align: center;
	margin-bottom: var(--font-leading-medium);
	background-color: var(--color-quaternary);
}

.section-content-text {
	margin-bottom: var(--font-leading-small);
}


.tips {
	margin-top: 10px;
	font-style: oblique;
}


.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


.button__toggle {
	cursor: pointer;
	background-color: var(--color-tetriary);
	font-size: var(--font-size-small);
	padding: var(--font-leading-small);
}

.text__content {   /* hide text until button read more is clicked */
	display: none;
	padding: 30px;
}

.text--expanded .text__content {  /* show text when button is clicked */
	display: block;
}





@media screen and (max-width: 1020px) {
	
	body {
		max-width: 90vw;
		margin: 0 auto;
	}

	aside {
		position: inherit;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		max-height: fit-content;
		font-size: var(--font-size-small);
	}

	.filter-button {

		min-width: fit-content;
		min-height: 2rem;
		padding: 10px;
		background-color: var(--color-tetriary);
		font-size: var(--font-size-small);
		margin-bottom: var(--font-leading-small);
		cursor: pointer;
	}
	.logo {
		display: none;
	}

	.page-section {
		display: flex;
		flex-direction: column;
	}

}