html {
	--font-size-base: 1.5rem;
	--font-size-small: 1rem;
	--font-size-medium: 2rem;
	--font-size-large: 4rem;

	--font-leading-base: var(--font-size-base);
	--font-leading-small: var(--font-size-small);
	--font-leading-medium: var(--font-size-medium);
	--font-leading-large: var(--font-size-large);

}