html {
	--font-size-base: 1.5rem;
	--font-size-small: 1rem;
	--font-size-medium: 2rem;
	--font-size-large: 4rem;

	--font-leading-base: var(--font-size-base);
	--font-leading-small: var(--font-size-small);
	--font-leading-medium: var(--font-size-medium);
	--font-leading-large: var(--font-size-large);

	--color-primary: #F0EAD2;
	--color-secondary: #DDE5B6;
	--color-tetriary: #ADC178;
	--color-quaternary: #A98467;
	--color-quinary: #6C584C;

}